<div class="notebook">
    <div class="page">
        <svg class="gallows" viewBox="0 0 120 110" shape-rendering="geometricPrecision" text-rendering="geometricPrecision">
            <path class="gallows-path" d="M 0 110 l 25 -30"/>
            <path class="gallows-path" d="M 25 80 l 25 30"/>
            <path class="gallows-path" d="M 25 80 l 0 -70"/>
            <path class="gallows-path" d="M 25 10 l 65 0"/>
            <path class="gallows-path" d="M 25 30 l 20 -20"/>
            <path class="gallows-path" d="M 90 10 l 0 30"/>
            
            <circle class="gallows-path" cx="90" cy="48" r="8"/>
            <path class="gallows-path" d="M 90 56 l 0 20"/>
            <path class="gallows-path" d="M 75 70 l 15 -10"/>
            <path class="gallows-path" d="M 90 60 l 15 10"/>
            <path class="gallows-path" d="M 75 93 l 15 -18"/>
            <path class="gallows-path" d="M 90 75 l 15 18"/>
        </svg>
    </div>
</div>