<div class="notebook">
    <div class="page">
        <div class="level text">
            Level: {{ level}}
        </div>
        <div class="timer text">
            {{timerValue * 1000 | date: 'mm:ss'}}
        </div>

        <div class="svg-wrapper">
           <app-svg-animation [hidden]="!usedLetters.length" [mistakesCounter]="mistakesCounter" [stickmanState]="stickmanState" (stickmanRescue)="stickmanRescue()"></app-svg-animation>
           <div [hidden]="usedLetters.length" class="text">Wybierz literę z Twojej klawiatury, aby zacząć grę.</div>
        </div>
        
        


        <div class="guessing-word">
            <div class="letter-container" *ngFor="let guessedLetter of guessingWord">
                <div class="text" *ngIf="guessedLetter.isShow"> {{ guessedLetter.char }} </div>
            </div>
        </div>

        <div class="guessing-word">
            <div class="text" *ngFor="let usedLetter of usedLetters" [ngStyle]="{'color': usedLetter.isShow ? 'green': 'red'}"> {{ usedLetter.char }} </div>
        </div>
    </div>
</div>