.notebook {
	height: 90vh;
	aspect-ratio: 3/4;
	margin: 4vh auto 0;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2), 0px 0px 6px rgba(0, 0, 0, 0.2);
	background: linear-gradient(to bottom, white calc(5vh - 1px), #00b0d783 1px);
	background-size: 100% 5vh;

	.page {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 70%;
		height: 100%;
		margin: 0 15%;
		border-right: 1px solid rgba(255, 0, 0, 0.514);

		.gallows {
			width: 70%;
		}

		path,
		circle {
			fill: none;
			stroke: #3f5787;
			stroke-width: 0.6;
		}
	}
}
